<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luffykaiyuan.shvideo.dao.AdvertInfoMapper">
  <resultMap id="BaseResultMap" type="com.luffykaiyuan.shvideo.po.AdvertInfo">
    <id column="advert_id" jdbcType="VARCHAR" property="advertId" />
    <result column="advert_source" jdbcType="VARCHAR" property="advertSource" />
    <result column="advert_location" jdbcType="VARCHAR" property="advertLocation" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    advert_id, advert_source, advert_location, add_time, status
  </sql>

  <insert id="insertAdvert" parameterType="com.luffykaiyuan.shvideo.po.AdvertInfo">
    insert into advertinfo (advert_id, advert_source, advert_location,
      add_time, status)
    values (#{advertId,jdbcType=VARCHAR}, #{advertSource,jdbcType=VARCHAR}, #{advertLocation,jdbcType=VARCHAR},
      #{addTime,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR})
  </insert>

  <update id="updateAdvert" parameterType="com.luffykaiyuan.shvideo.po.AdvertInfo">
    update advertinfo
    set advert_source = #{advertSource,jdbcType=VARCHAR},
      advert_location = #{advertLocation,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR}
    where advert_id = #{advertId,jdbcType=VARCHAR}
  </update>

  <update id="delAdvert" parameterType="com.luffykaiyuan.shvideo.po.AdvertInfo">
    update advertinfo
    set status = '0'
    where advert_id = #{advertId,jdbcType=VARCHAR}
  </update>

  <select id="selectAllAdvert" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from advertinfo
  </select>

  <select id="selectUsableAdvert" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from advertinfo
    where status != '0'
  </select>

  <select id="selectInuseAdvert" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from advertinfo
    where status = '2'
  </select>

</mapper>