<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luffykaiyuan.shvideo.dao.AdvertInfoMapper">
  <resultMap id="BaseResultMap" type="com.luffykaiyuan.shvideo.po.AdvertInfo">
    <id column="advert_id" jdbcType="VARCHAR" property="advertId" />
    <result column="advert_source" jdbcType="VARCHAR" property="advertSource" />
    <result column="advert_location" jdbcType="VARCHAR" property="advertLocation" />
    <result column="advert_describe" jdbcType="VARCHAR" property="advertDescribe" />
    <result column="admin_name" jdbcType="VARCHAR" property="adminName" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    advert_id, advert_source, advert_location, advert_describe, admin_name, add_time
  </sql>

  <insert id="insertAdvert" parameterType="com.luffykaiyuan.shvideo.po.AdvertInfo">
    insert into advertinfo (advert_id, advert_source, advert_location, advert_describe, admin_name,
                            add_time)
    values (#{advertId,jdbcType=VARCHAR}, #{advertSource,jdbcType=VARCHAR}, #{advertLocation,jdbcType=VARCHAR}, #{advertDescribe,jdbcType=VARCHAR}, #{adminName,jdbcType=VARCHAR},
            #{addTime,jdbcType=TIMESTAMP})
  </insert>

  <update id="updateAdvert" parameterType="com.luffykaiyuan.shvideo.po.AdvertInfo">
    update advertinfo
    <set>
      <if test="advertSource != null">
        advert_source = #{advertSource,jdbcType=VARCHAR},
      </if>
      <if test="advertLocation != null">
        advert_location = #{advertLocation,jdbcType=VARCHAR},
      </if>
      <if test="advertDescribe != null">
        advert_describe = #{advertDescribe,jdbcType=VARCHAR},
      </if>
      <if test="adminName != null">
        admin_name = #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where advert_id = #{advertId,jdbcType=VARCHAR}
  </update>

  <update id="delAdvert" parameterType="com.luffykaiyuan.shvideo.po.AdvertInfo">
    update advertinfo
    set status = '0'
    where advert_id = #{advertId,jdbcType=VARCHAR}
  </update>

  <select id="selectAllAdvert" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from advertinfo
    order by add_time desc
  </select>

  <select id="selectUsableAdvert" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from advertinfo
    where status != '0'
    order by add_time desc
  </select>

  <select id="selectAdvertByLocation" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from advertinfo
    where status != '-1'
    and advert_location = #{advertLocation,jdbcType=VARCHAR}
    order by add_time desc
  </select>

  <update id="removeAllAdvert" parameterType="com.luffykaiyuan.shvideo.po.AdvertInfo">
    update advertinfo
    set status = '0'
    where advert_location = #{advertLocation,jdbcType=VARCHAR}
      and status = '1'
  </update>

  <update id="chooseOneAdvert" parameterType="com.luffykaiyuan.shvideo.po.AdvertInfo">
    update advertinfo
    set status = '1'
    where advert_id = #{advertId,jdbcType=VARCHAR}
  </update>

  <select id="selectInuseAdvert" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from advertinfo
    where status = '2'
    order by add_time desc
  </select>

</mapper>