<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luffykaiyuan.shvideo.dao.PayConMapper">
  <resultMap id="BaseResultMap" type="com.luffykaiyuan.shvideo.po.PayCon">
    <id column="pay_id" jdbcType="VARBINARY" property="payId" />
    <result column="pay_url" jdbcType="VARCHAR" property="payUrl" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    pay_id, pay_url, add_time, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="byte[]" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pay_con
    where pay_id = #{payId,jdbcType=VARBINARY}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="byte[]">
    delete from pay_con
    where pay_id = #{payId,jdbcType=VARBINARY}
  </delete>
  <insert id="insert" parameterType="com.luffykaiyuan.shvideo.po.PayCon">
    insert into pay_con (pay_id, pay_url, add_time, 
      status)
    values (#{payId,jdbcType=VARBINARY}, #{payUrl,jdbcType=VARCHAR}, #{addTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.luffykaiyuan.shvideo.po.PayCon">
    insert into pay_con
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="payId != null">
        pay_id,
      </if>
      <if test="payUrl != null">
        pay_url,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="payId != null">
        #{payId,jdbcType=VARBINARY},
      </if>
      <if test="payUrl != null">
        #{payUrl,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.luffykaiyuan.shvideo.po.PayCon">
    update pay_con
    <set>
      <if test="payUrl != null">
        pay_url = #{payUrl,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where pay_id = #{payId,jdbcType=VARBINARY}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.luffykaiyuan.shvideo.po.PayCon">
    update pay_con
    set pay_url = #{payUrl,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR}
    where pay_id = #{payId,jdbcType=VARBINARY}
  </update>
</mapper>