<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luffykaiyuan.shvideo.dao.ProductPriceMapper">
  <resultMap id="BaseResultMap" type="com.luffykaiyuan.shvideo.po.ProductPrice">
    <id column="product_id" jdbcType="VARCHAR" property="productId" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="price" jdbcType="REAL" property="price" />
    <result column="valid_time" jdbcType="INTEGER" property="validTime" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    product_id, product_name, price, valid_time, add_time, status
  </sql>
  <select id="selectProduct" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from product_price
    order by add_time desc
  </select>

  <select id="selectProductByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from product_price
    where product_name = #{productName,jdbcType=VARCHAR}
  </select>

  <update id="updateProduct" parameterType="com.luffykaiyuan.shvideo.po.ProductPrice">
    update product_price
    <set>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=REAL},
      </if>
      <if test="validTime != null">
        valid_time = #{validTime,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where product_id = #{productId,jdbcType=VARCHAR}
  </update>

</mapper>