<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luffykaiyuan.shvideo.dao.RunWaterMapper">
  <resultMap id="BaseResultMap" type="com.luffykaiyuan.shvideo.po.RunWater">
    <id column="water_id" jdbcType="VARCHAR" property="waterId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="money" jdbcType="FLOAT" property="money" />
    <result column="water_type" jdbcType="VARCHAR" property="waterType" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    water_id, username, nick_name, money, water_type, add_time, status
  </sql>

  <insert id="insertRunWater" parameterType="com.luffykaiyuan.shvideo.po.RunWater">
    insert into run_water (water_id, username, nick_name,
      money, water_type, add_time,
      status)
    values (#{waterId,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR},
      #{money,jdbcType=FLOAT}, #{waterType,jdbcType=VARCHAR}, #{addTime,jdbcType=TIMESTAMP},
      #{status,jdbcType=VARCHAR})
  </insert>

  <update id="updateRunWater" parameterType="com.luffykaiyuan.shvideo.po.RunWater">
    update run_water
    set username = #{username,jdbcType=VARCHAR},
      nick_name = #{nickName,jdbcType=VARCHAR},
      money = #{money,jdbcType=FLOAT},
      water_type = #{waterType,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR}
    where water_id = #{waterId,jdbcType=VARCHAR}
  </update>

  <select id="selectWaterById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from run_water
    where water_id = #{waterId,jdbcType=VARCHAR}
        and status = '1'
  </select>

  <select id="selectWaterByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from run_water
    where username = #{username,jdbcType=VARCHAR}
        and status = '1'
  </select>

</mapper>