<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luffykaiyuan.shvideo.dao.ServerLocationMapper">
  <resultMap id="BaseResultMap" type="com.luffykaiyuan.shvideo.po.ServerLocation">
    <id column="server_id" jdbcType="VARCHAR" property="serverId" />
    <result column="server_address" jdbcType="VARCHAR" property="serverAddress" />
    <result column="server_type" jdbcType="VARCHAR" property="serverType" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    server_id, server_address, server_type, add_time, status
  </sql>

  <insert id="insertImgServer" parameterType="com.luffykaiyuan.shvideo.po.ServerLocation">
    insert into server_location (server_id, server_address, server_type,
      add_time)
    values (#{serverId,jdbcType=VARCHAR}, #{serverAddress,jdbcType=VARCHAR}, #{serverType,jdbcType=VARCHAR},
      #{addTime,jdbcType=TIMESTAMP})
  </insert>

  <update id="deleteImgServerById" parameterType="com.luffykaiyuan.shvideo.po.ServerLocation">
    update server_location
    set status = '0'
    where server_id = #{serverId,jdbcType=VARCHAR}
  </update>

  <select id="selectInuseImgServer" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from server_location
    where status = '1'
    and serverType = '2'
  </select>

  <select id="selectAllImgServer" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from server_location
    where serverType = '2'
  </select>

  <update id="updateImgServer" parameterType="com.luffykaiyuan.shvideo.po.ServerLocation">
    update server_location
    set server_address = #{serverAddress,jdbcType=VARCHAR},
      server_type = #{serverType,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR}
    where server_id = #{serverId,jdbcType=VARCHAR}
  </update>

  <insert id="insertVideoServer" parameterType="com.luffykaiyuan.shvideo.po.ServerLocation">
    insert into server_location (server_id, server_address, server_type,
      add_time, status)
    values (#{serverId,jdbcType=VARCHAR}, #{serverAddress,jdbcType=VARCHAR}, #{serverType,jdbcType=VARCHAR},
      #{addTime,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR})
  </insert>

  <update id="deleteVideoServerById" parameterType="com.luffykaiyuan.shvideo.po.ServerLocation">
    update server_location
    set status = '0'
    where server_id = #{serverId,jdbcType=VARCHAR}
  </update>

  <select id="selectInuseVideoServer" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from server_location
    where status = '1'
    and serverType = '1'
  </select>

  <select id="selectAllVideoServer" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from server_location
    where serverType = '1'
  </select>

  <update id="updateVideoServer" parameterType="com.luffykaiyuan.shvideo.po.ServerLocation">
    update server_location
    set server_address = #{serverAddress,jdbcType=VARCHAR},
      server_type = #{serverType,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR}
    where server_id = #{serverId,jdbcType=VARCHAR}
  </update>

</mapper>