<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luffykaiyuan.shvideo.dao.UserInfoMapper">
  <resultMap id="BaseResultMap" type="com.luffykaiyuan.shvideo.po.UserInfo">
    <id column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="money" jdbcType="VARCHAR" property="money" />
    <result column="invite_code" jdbcType="VARCHAR" property="inviteCode" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="invite_username" jdbcType="VARCHAR" property="inviteUsername" />
    <result column="card_type" jdbcType="VARCHAR" property="cardType" />
    <result column="rank_id" jdbcType="VARCHAR" property="rankId" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, username, password, nick_name, money, invite_code, status, invite_username, 
    card_type, rank_id, add_time
  </sql>


  <insert id="insertUserInfo" parameterType="com.luffykaiyuan.shvideo.po.UserInfo">
    insert into userinfo (user_id, username, password,
                          nick_name, money, invite_code,
                          status, invite_username, card_type,
                          rank_id, add_time)
    values (#{userId,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
            #{nickName,jdbcType=VARCHAR}, #{money,jdbcType=VARCHAR}, #{inviteCode,jdbcType=VARCHAR},
            #{status,jdbcType=VARCHAR}, #{inviteUsername,jdbcType=VARCHAR}, #{cardType,jdbcType=VARCHAR},
            #{rankId,jdbcType=VARCHAR}, #{addTime,jdbcType=TIMESTAMP})
  </insert>

  <select id="selectOneUserInfo" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from userinfo
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>

  <select id="selectOne" parameterType="Date" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from userinfo
    where add_time > #{addTime,jdbcType=TIMESTAMP}
  </select>





  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from userinfo
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from userinfo
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.luffykaiyuan.shvideo.po.UserInfo">
    insert into userinfo (user_id, username, password, 
      nick_name, money, invite_code, 
      status, invite_username, card_type, 
      rank_id, add_time)
    values (#{userId,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{nickName,jdbcType=VARCHAR}, #{money,jdbcType=VARCHAR}, #{inviteCode,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{inviteUsername,jdbcType=VARCHAR}, #{cardType,jdbcType=VARCHAR}, 
      #{rankId,jdbcType=VARCHAR}, #{addTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.luffykaiyuan.shvideo.po.UserInfo">
    insert into userinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="nickName != null">
        nick_name,
      </if>
      <if test="money != null">
        money,
      </if>
      <if test="inviteCode != null">
        invite_code,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="inviteUsername != null">
        invite_username,
      </if>
      <if test="cardType != null">
        card_type,
      </if>
      <if test="rankId != null">
        rank_id,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        #{money,jdbcType=VARCHAR},
      </if>
      <if test="inviteCode != null">
        #{inviteCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="inviteUsername != null">
        #{inviteUsername,jdbcType=VARCHAR},
      </if>
      <if test="cardType != null">
        #{cardType,jdbcType=VARCHAR},
      </if>
      <if test="rankId != null">
        #{rankId,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.luffykaiyuan.shvideo.po.UserInfo">
    update userinfo
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        money = #{money,jdbcType=VARCHAR},
      </if>
      <if test="inviteCode != null">
        invite_code = #{inviteCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="inviteUsername != null">
        invite_username = #{inviteUsername,jdbcType=VARCHAR},
      </if>
      <if test="cardType != null">
        card_type = #{cardType,jdbcType=VARCHAR},
      </if>
      <if test="rankId != null">
        rank_id = #{rankId,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.luffykaiyuan.shvideo.po.UserInfo">
    update userinfo
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      nick_name = #{nickName,jdbcType=VARCHAR},
      money = #{money,jdbcType=VARCHAR},
      invite_code = #{inviteCode,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      invite_username = #{inviteUsername,jdbcType=VARCHAR},
      card_type = #{cardType,jdbcType=VARCHAR},
      rank_id = #{rankId,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP}
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
</mapper>