<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luffykaiyuan.shvideo.dao.UserInfoMapper">
  <resultMap id="BaseResultMap" type="com.luffykaiyuan.shvideo.po.UserInfo">
    <id column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="code_address" jdbcType="VARCHAR" property="codeAddress" />
    <result column="money" jdbcType="REAL" property="money" />
    <result column="remain_day" jdbcType="INTEGER" property="remainDay" />
    <result column="invite_code" jdbcType="VARCHAR" property="inviteCode" />
    <result column="invite_username" jdbcType="VARCHAR" property="inviteUsername" />
    <result column="card_type" jdbcType="VARCHAR" property="cardType" />
    <result column="look_num" jdbcType="INTEGER" property="lookNum" />
    <result column="rank_id" jdbcType="VARCHAR" property="rankId" />
    <result column="orgin_rank" jdbcType="VARCHAR" property="orginRank" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, username, password, nick_name, code_address, money, remain_day, invite_code, invite_username, card_type,
    look_num, rank_id, orgin_rank, add_time, status
  </sql>

  <insert id="insertUser" parameterType="com.luffykaiyuan.shvideo.po.UserInfo">
    insert into userinfo (user_id, username, password,
      nick_name, code_address, money, remain_day, invite_code,
      invite_username, card_type, look_num,
      rank_id, orgin_rank, add_time, status
      )
    values (#{userId,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
      #{nickName,jdbcType=VARCHAR}, #{codeAddress,jdbcType=VARCHAR}, #{money,jdbcType=REAL}, #{remainDay,jdbcType=INTEGER}, #{inviteCode,jdbcType=VARCHAR},
      #{inviteUsername,jdbcType=VARCHAR}, #{cardType,jdbcType=VARCHAR}, #{lookNum,jdbcType=INTEGER},
      #{rankId,jdbcType=VARCHAR}, #{orginRank,jdbcType=VARCHAR}, #{addTime,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR}
      )
  </insert>

  <update id="updateUser" parameterType="com.luffykaiyuan.shvideo.po.UserInfo">
    update userinfo
    set password = #{password,jdbcType=VARCHAR},
      nick_name = #{nickName,jdbcType=VARCHAR},
      code_address = #{codeAddress,jdbcType=VARCHAR},
      money = #{money,jdbcType=REAL},
      remain_day = #{remainDay,jdbcType=INTEGER},
      invite_code = #{inviteCode,jdbcType=VARCHAR},
      invite_username = #{inviteUsername,jdbcType=VARCHAR},
      card_type = #{cardType,jdbcType=VARCHAR},
      look_num = #{lookNum,jdbcType=INTEGER},
      rank_id = #{rankId,jdbcType=VARCHAR},
      orgin_rank = #{orginRank,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR}
    where username = #{username,jdbcType=VARCHAR}
  </update>

  <update id="delUser" parameterType="java.lang.String">
    update userinfo
    set status = '0'
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>

  <select id="selectUserById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from userinfo
    where user_id = #{userId,jdbcType=VARCHAR}
        and status = '1'
  </select>

  <select id="selectUserByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from userinfo
    where username like '%' #{username,jdbcType=VARCHAR} '%'
        and status = '1'
  </select>

  <select id="selectAllUser" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from userinfo
    where username like '%' #{username,jdbcType=VARCHAR} '%'
  </select>

  <select id="selectUserByTime" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from userinfo
    where add_time between #{beginTime,jdbcType=TIMESTAMP} and #{endTime,jdbcType=TIMESTAMP}
    and status = '1'
  </select>

  <select id="selectUserByRank" parameterType="java.lang.String"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from userinfo
    where rank_id = #{rankId,jdbcType=VARCHAR}
    and status = '1'
  </select>

  <select id="selectUserByCard" parameterType="java.lang.String"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from userinfo
    where card_type = #{cardType,jdbcType=VARCHAR}
    and status = '1'
  </select>
</mapper>