<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luffykaiyuan.shvideo.dao.UserInviteMapper">
  <resultMap id="BaseResultMap" type="com.luffykaiyuan.shvideo.po.UserInvite">
    <id column="username" jdbcType="VARCHAR" property="username" />
    <result column="invite_num" jdbcType="INTEGER" property="inviteNum" />
  </resultMap>
  <sql id="Base_Column_List">
    username, invite_num
  </sql>

  <insert id="insertUserInvite" parameterType="com.luffykaiyuan.shvideo.po.UserInvite">
    insert into user_invite (username)
    values (#{username,jdbcType=VARCHAR}
  </insert>

  <select id="selectUserInvite" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_invite
    where username = #{username,jdbcType=VARCHAR}
  </select>

  <update id="updateUserInvite" parameterType="com.luffykaiyuan.shvideo.po.UserInvite">
    update user_invite
    set invite_num = #{inviteNum,jdbcType=INTEGER}
    where username = #{username,jdbcType=VARCHAR}
  </update>

  <update id="addInviteNum" parameterType="java.lang.String">
    update user_invite
    set invite_num = invite_num + 1
    where username = #{username,jdbcType=VARCHAR}
  </update>
</mapper>