<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luffykaiyuan.shvideo.dao.VideoMoleMapper">
  <resultMap id="BaseResultMap" type="com.luffykaiyuan.shvideo.po.VideoMole">
    <id column="mold_id" jdbcType="VARCHAR" property="moldId" />
    <result column="mold_name" jdbcType="VARCHAR" property="moldName" />
    <result column="mold_type" jdbcType="VARCHAR" property="moldType" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    mold_id, mold_name, mold_type, add_time, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from video_mole
    where mold_id = #{moldId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from video_mole
    where mold_id = #{moldId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.luffykaiyuan.shvideo.po.VideoMole">
    insert into video_mole (mold_id, mold_name, mold_type, 
      add_time, status)
    values (#{moldId,jdbcType=VARCHAR}, #{moldName,jdbcType=VARCHAR}, #{moldType,jdbcType=VARCHAR}, 
      #{addTime,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.luffykaiyuan.shvideo.po.VideoMole">
    insert into video_mole
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="moldId != null">
        mold_id,
      </if>
      <if test="moldName != null">
        mold_name,
      </if>
      <if test="moldType != null">
        mold_type,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="moldId != null">
        #{moldId,jdbcType=VARCHAR},
      </if>
      <if test="moldName != null">
        #{moldName,jdbcType=VARCHAR},
      </if>
      <if test="moldType != null">
        #{moldType,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.luffykaiyuan.shvideo.po.VideoMole">
    update video_mole
    <set>
      <if test="moldName != null">
        mold_name = #{moldName,jdbcType=VARCHAR},
      </if>
      <if test="moldType != null">
        mold_type = #{moldType,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where mold_id = #{moldId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.luffykaiyuan.shvideo.po.VideoMole">
    update video_mole
    set mold_name = #{moldName,jdbcType=VARCHAR},
      mold_type = #{moldType,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR}
    where mold_id = #{moldId,jdbcType=VARCHAR}
  </update>
</mapper>