<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luffykaiyuan.shvideo.dao.VideoTagMapper">
  <resultMap id="BaseResultMap" type="com.luffykaiyuan.shvideo.po.VideoTag">
    <id column="tag_id" jdbcType="VARCHAR" property="tagId" />
    <result column="video_id" jdbcType="VARCHAR" property="videoId" />
    <result column="tag_name" jdbcType="VARCHAR" property="tagName" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    tag_id, video_id, tag_name, add_time, status
  </sql>
  <insert id="insertTag" parameterType="com.luffykaiyuan.shvideo.po.VideoTag">
    insert into video_tag (tag_id, video_id, tag_name,
                           add_time, status)
    values (#{tagId,jdbcType=VARCHAR}, #{videoId,jdbcType=VARCHAR}, #{tagName,jdbcType=VARCHAR},
            #{addTime,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR})
  </insert>

  <update id="updateTag" parameterType="com.luffykaiyuan.shvideo.po.VideoTag">
    update video_tag
    set video_id = #{videoId,jdbcType=VARCHAR},
        tag_name = #{tagName,jdbcType=VARCHAR},
        add_time = #{addTime,jdbcType=TIMESTAMP},
        status = #{status,jdbcType=VARCHAR}
    where tag_id = #{tagId,jdbcType=VARCHAR}
  </update>

  <update id="delTag" parameterType="com.luffykaiyuan.shvideo.po.VideoTag">
    update video_tag
    set status = '0'
    where tag_id = #{tagId,jdbcType=VARCHAR}
  </update>

  <select id="selectTagById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from video_tag
    where tag_id = #{tagId,jdbcType=VARCHAR}
  </select>

  <select id="selectTagByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from video_tag
    where tag_name like '%' #{tagName,jdbcType=VARCHAR} '%'
        and status = '1'
  </select>

  <select id="selectAllTag" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from video_tag
  </select>

  <select id="selectInuseTag" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from video_tag
    where status = '1'
  </select>

</mapper>