<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luffykaiyuan.shvideo.dao.VideoInfoMapper">
  <resultMap id="BaseResultMap" type="com.luffykaiyuan.shvideo.po.VideoInfo">
    <id column="video_id" jdbcType="VARCHAR" property="videoId" />
    <result column="video_name" jdbcType="VARCHAR" property="videoName" />
    <result column="video_cover" jdbcType="VARCHAR" property="videoCover" />
    <result column="video_describe" jdbcType="VARCHAR" property="videoDescribe" />
    <result column="video_tag" jdbcType="VARCHAR" property="videoTag" />
    <result column="video_source" jdbcType="VARCHAR" property="videoSource" />
    <result column="video_server" jdbcType="VARCHAR" property="videoServer" />
    <result column="cover_server" jdbcType="VARCHAR" property="coverServer" />
    <result column="big_mold" jdbcType="VARCHAR" property="bigMold" />
    <result column="small_mold" jdbcType="VARCHAR" property="smallMold" />
    <result column="paly_num" jdbcType="VARCHAR" property="palyNum" />
    <result column="duration" jdbcType="INTEGER" property="duration" />
    <result column="admin_name" jdbcType="VARCHAR" property="adminName" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    video_id, video_name, video_cover, video_describe, video_tag, video_source, video_server, cover_server, big_mold, small_mold, paly_num, duration, admin_name, add_time,
    status
  </sql>

  <insert id="insertVideo" parameterType="com.luffykaiyuan.shvideo.po.VideoInfo">
    insert into videoinfo (video_id, video_name, video_cover, video_describe, video_tag,
                           video_source, video_server, cover_server, big_mold, small_mold,
                           paly_num, duration, admin_name, add_time, status)
    values (#{videoId,jdbcType=VARCHAR}, #{videoName,jdbcType=VARCHAR}, #{videoCover,jdbcType=VARCHAR}, #{videoDescribe,jdbcType=VARCHAR}, #{videoTag,jdbcType=VARCHAR},
            #{videoSource,jdbcType=VARCHAR}, #{videoServer,jdbcType=VARCHAR}, #{coverServer,jdbcType=VARCHAR}, #{bigMold,jdbcType=VARCHAR}, #{smallMold,jdbcType=VARCHAR},
            #{palyNum,jdbcType=VARCHAR}, #{duration,jdbcType=INTEGER}, #{adminName,jdbcType=VARCHAR}, #{addTime,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR})
  </insert>

  <update id="updateVideo" parameterType="com.luffykaiyuan.shvideo.po.VideoInfo">
    update videoinfo
    set video_name = #{videoName,jdbcType=VARCHAR},
        video_cover = #{videoCover,jdbcType=VARCHAR},
        video_describe = #{videoDescribe,jdbcType=VARCHAR},
        video_tag = #{videoTag,jdbcType=VARCHAR},
        video_source = #{videoSource,jdbcType=VARCHAR},
        video_server = #{videoServer,jdbcType=VARCHAR},
        cover_server = #{coverServer,jdbcType=VARCHAR},
        big_mold = #{bigMold,jdbcType=VARCHAR},
        small_mold = #{smallMold,jdbcType=VARCHAR},
        paly_num = #{palyNum,jdbcType=VARCHAR},
        duration = #{duration,jdbcType=INTEGER},
        admin_name = #{adminName,jdbcType=VARCHAR},
        add_time = #{addTime,jdbcType=TIMESTAMP},
        status = #{status,jdbcType=VARCHAR}
    where video_id = #{videoId,jdbcType=VARCHAR}
  </update>

  <update id="delVideo" parameterType="com.luffykaiyuan.shvideo.po.VideoInfo">
    update videoinfo
    set status = '0'
    where video_id = #{videoId,jdbcType=VARCHAR}
  </update>

  <select id="selectAllVideo" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from videoinfo
  </select>

  <select id="selectInuseVideo" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from videoinfo
    where status = '1'
  </select>

  <select id="selectVideoById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from videoinfo
    where video_id = #{videoId,jdbcType=VARCHAR}
  </select>

  <select id="selectVideoByMold" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from videoinfo
    where big_mold = #{bigMold,jdbcType=VARCHAR}
      and small_mold = #{smallMold,jdbcType=VARCHAR}
        and status = '1'
  </select>

  <select id="selectVideoByBigMold" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from videoinfo
    where big_mold = #{bigMold,jdbcType=VARCHAR}
        and status = '1'
  </select>

  <select id="selectVideoByBigMoldLimit" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from videoinfo
    where big_mold = #{bigMold,jdbcType=VARCHAR}
        and status = '1'
    desc by add_time
    limit 6
  </select>

  <select id="selectVideoBySmallMold" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from videoinfo
    where small_mold = #{smallMold,jdbcType=VARCHAR}
        and status = '1'
  </select>

  <select id="selectVideoBySmallMoldLimit" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from videoinfo
    where small_mold = #{smallMold,jdbcType=VARCHAR}
    and status = '1'
    desc by add_time
    limit 4
  </select>

  <select id="selectVideoByMoldId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from videoinfo
    where mold_id = #{moldId}
    and status = '1'
  </select>

  <select id="selectVideoByVideoName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from videoinfo
    where video_name like '%' #{videoName,jdbcType=VARCHAR} '%'
        and status = '1'
  </select>

  <select id="selectVideoByTime" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from videoinfo
    where add_time between #{beginTime,jdbcType=TIMESTAMP} and #{endTime,jdbcType=TIMESTAMP}
  </select>

  <select id="selectVideoByTag" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from videoinfo
    where video_tag like '%' #{videoTag,jdbcType=VARCHAR} '%'
    and status = '1'
  </select>

  <select id="selectVideoByDes" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from videoinfo
    where video_describe like '%' #{videoDescribe,jdbcType=VARCHAR} '%'
    and status = '1'
  </select>

  <update id="updateBatchVideoServer">
    <foreach collection="list" item="item" separator=";">
      update videoinfo set video_server=#{item.videoServer},
      cover_server=#{item.coverServer},
      where video_id=#{item.videoId}
    </foreach>
  </update>

  <update id="updateBatchVideoMold">
    <foreach collection="list" item="item" separator=";">
      update videoinfo set big_mold=#{item.bigMold},
      small_mold=#{item.smallMold},
      where video_id=#{item.videoId}
    </foreach>
  </update>

</mapper>