<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luffykaiyuan.shvideo.dao.VideoSourceMapper">
  <resultMap id="BaseResultMap" type="com.luffykaiyuan.shvideo.po.VideoSource">
    <id column="only_code" jdbcType="VARCHAR" property="onlyCode" />
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="tag" jdbcType="VARCHAR" property="tag" />
    <result column="cover" jdbcType="VARCHAR" property="cover" />
    <result column="secret_cover" jdbcType="VARCHAR" property="secretCover" />
    <result column="secret_cover_text" jdbcType="VARCHAR" property="secretCoverText" />
    <result column="ratio" jdbcType="VARCHAR" property="ratio" />
    <result column="size" jdbcType="INTEGER" property="size" />
    <result column="duration" jdbcType="INTEGER" property="duration" />
    <result column="server_ip" jdbcType="VARCHAR" property="serverIp" />
    <result column="xvalue" jdbcType="VARCHAR" property="xvalue" />
    <result column="xkey" jdbcType="VARCHAR" property="xkey" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.luffykaiyuan.shvideo.po.VideoSource">
    <result column="http_content" jdbcType="LONGVARCHAR" property="httpContent" />
  </resultMap>
  <sql id="Base_Column_List">
    only_code, id, name, content, tag, cover, secret_cover, secret_cover_text, ratio, size, duration,
    server_ip, xvalue, xkey
  </sql>
  <sql id="Blob_Column_List">
    http_content
  </sql>

  <insert id="insertVideoSource" parameterType="com.luffykaiyuan.shvideo.po.VideoSource">
    insert into video_source (only_code, id, name, content, tag,
                              cover, secret_cover, secret_cover_text,
                              ratio, size, duration,
                              server_ip, xvalue, xkey,
                              http_content)
    values (#{onlyCode,jdbcType=VARCHAR}, #{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{tag,jdbcType=VARCHAR},
            #{cover,jdbcType=VARCHAR}, #{secretCover,jdbcType=VARCHAR}, #{secretCoverText,jdbcType=VARCHAR},
            #{ratio,jdbcType=VARCHAR}, #{size,jdbcType=INTEGER}, #{duration,jdbcType=INTEGER},
            #{serverIp,jdbcType=VARCHAR}, #{xvalue,jdbcType=VARCHAR}, #{xkey,jdbcType=VARCHAR},
            #{httpContent,jdbcType=LONGVARCHAR})
  </insert>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from video_source
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from video_source
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.luffykaiyuan.shvideo.po.VideoSource">
    insert into video_source (id, name, content, tag,
                              cover, secret_cover, secret_cover_text,
                              ratio, size, duration,
                              server_ip, xvalue, xkey,
                              http_content)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR},  #{tag,jdbcType=VARCHAR},
            #{cover,jdbcType=VARCHAR}, #{secretCover,jdbcType=VARCHAR}, #{secretCoverText,jdbcType=VARCHAR},
            #{ratio,jdbcType=VARCHAR}, #{size,jdbcType=INTEGER}, #{duration,jdbcType=INTEGER},
            #{serverIp,jdbcType=VARCHAR}, #{xvalue,jdbcType=VARCHAR}, #{xkey,jdbcType=VARCHAR},
            #{httpContent,jdbcType=LONGVARCHAR})
  </insert>

  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.luffykaiyuan.shvideo.po.VideoSource">
    update video_source
    set name = #{name,jdbcType=VARCHAR},
        content = #{content,jdbcType=VARCHAR},
        tag = #{tag,jdbcType=VARCHAR},
        cover = #{cover,jdbcType=VARCHAR},
        secret_cover = #{secretCover,jdbcType=VARCHAR},
        secret_cover_text = #{secretCoverText,jdbcType=VARCHAR},
        ratio = #{ratio,jdbcType=VARCHAR},
        size = #{size,jdbcType=INTEGER},
        duration = #{duration,jdbcType=INTEGER},
        server_ip = #{serverIp,jdbcType=VARCHAR},
        xvalue = #{xvalue,jdbcType=VARCHAR},
        xkey = #{xkey,jdbcType=VARCHAR},
        http_content = #{httpContent,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.luffykaiyuan.shvideo.po.VideoSource">
    update video_source
    set name = #{name,jdbcType=VARCHAR},
        content = #{content,jdbcType=VARCHAR},
        tag = #{tag,jdbcType=VARCHAR},
        cover = #{cover,jdbcType=VARCHAR},
        secret_cover = #{secretCover,jdbcType=VARCHAR},
        secret_cover_text = #{secretCoverText,jdbcType=VARCHAR},
        ratio = #{ratio,jdbcType=VARCHAR},
        size = #{size,jdbcType=INTEGER},
        duration = #{duration,jdbcType=INTEGER},
        server_ip = #{serverIp,jdbcType=VARCHAR},
        xvalue = #{xvalue,jdbcType=VARCHAR},
        xkey = #{xkey,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>